*{
    padding: 0;
    margin: 0;
}
.content{
    width: 100%;
    height: 50px;
}
ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 850px;
    height: 50px;

}
ul  li{
    position:relative;
    overflow: hidden;
}
ul  li span{
    text-align: center;
    line-height: 40px;
}


